{% extends 'layout/base.html.twig' %}
{% block title %}Weekday{% endblock %}
{% block content %}
<div class="container is-fullhd">
    <div class="tile">
        <div class="tile is-child box">
            <ticket-create></ticket-create>
        </div>
    </div>
</div>
{% endblock %}
